.exit {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 35px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.body {
    margin-top: 30px;
}

.pokemon_display {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.list_display {
    list-style-type: none;
}

.cap {
    text-transform: uppercase;
}

.pokemon_entry {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 20px;
}

.release {
    /* float property places the element to the left or right side of its container allowing for text and inline elements to wrap around it */
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    float: right;
    border-radius: 10px;
    border: none;
    padding: 8px;
    background-color: #ff4040;
    color: white;
    cursor: pointer;
}

.fighter {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    float: right;
    border-radius: 10px;
    border: none;
    padding: 8px;
    background-color: #76d959;
    color: white;
}

.set_fighter {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    float: right;
    border-radius: 10px;
    border: none;
    padding: 8px 15px 8px 15px;
    background-color: #24b2ff;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}