.header {
    text-align: center;
}

.starter {
    font-family: 'Oswald', sans-serif;
    position: relative;
    background-color: white;
    border: 0;
    cursor: pointer;
    margin-top: 80px;
    margin-right: 25px;
    margin-left: 25px;
}

.starter:hover{
    text-decoration: none;
}

.starter.yellow::after {
    content: attr(data-tooltip);
    top: -25px; left: -5px;
    background: #fffb00;
    border-radius: 4px;
    padding: 2px 6px;
    white-space: nowrap;
    color: black;
}

.starter.green::after {
    content: attr(data-tooltip);
    top: -25px; left: -5px;
    background: #17e610;
    border-radius: 4px;
    padding: 2px 6px;
    white-space: nowrap;
    color: black;
}

.starter.red::after {
    content: attr(data-tooltip);
    top: -25px; left: -5px;
    background: #fc4a03;
    border-radius: 4px;
    padding: 2px 6px;
    white-space: nowrap;
    color: black;
}

.starter.blue::after {
    content: attr(data-tooltip);
    top: -25px; left: -5px;
    background: #03cefc;
    border-radius: 4px;
    padding: 2px 6px;
    white-space: nowrap;
    color: black;
}

.starter::after, .starter::before {
    position: absolute;
    display: none;
}

.starter:hover::after, .bulbasaur:hover::before {
    display: block;
}